/* src/App.css */
.container {
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 3rem;
}


.employee-list, .team-list {
  border: 3px solid black;
  padding: 10px;
  width: 250px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}

.scrollable-content {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  margin-top: 10px;
}

.employee-item, .team-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  margin: 5px 0;
  padding: 5px;
  border-radius: 4px;
}

.employee-item button, .team-item button {
  background-color: #0f72b4;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.employee-item button:hover, .team-item button:hover {
  background-color: #45a049;
}

.sort-button {
  background-color: pink;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.sort-button:hover {
  background-color: #ffb6c1;
}

.average-age {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
