.card-container{
    box-shadow: 3px 3px 3px 3px gray;
    border-radius: 10px;
    width: 50vh;
}
.title{
    display: inline-block;
    margin-right: 10px;
}
.address{
    margin: 5px;
    padding: 10px;
}
.cusion-container{
    background-color: bisque;
    padding: 10px;
}
.cusions{
    padding: 10px;
}